<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bistu.message.mapper.Messagemapper">

    <resultMap id="messageResultMap" type="cn.edu.bistu.model.vo.MessageVo">
        <id property="id" column="id"></id>

        <result property="status" column="status"></result>
        <result property="type" column="type"></result>
        <result property="title" column="title"></result>
        <result property="sender" column="sender"></result>
        <result property="receiver" column="receiver"></result>
        <result property="description" column="description"></result>
        <result property="createTime" column="create_time"></result>
        <result property="attachment" column="attachment"></result>
        <result property="attachmentName" column="attachment_name"></result>
        <result property="isShowSender" column="is_show_sender"></result>
        <result property="isShowReceiver" column="is_show_receiver"></result>

        <association property="initiator" resultMap="cn.edu.bistu.auth.mapper.UserMapper.Common.userResultMap"/>
    </resultMap>
    
    <select id="getReceiveMessageById" resultMap="messageResultMap">
        <include refid="basicReceiveMsgStatement"></include>
        WHERE message.receiver = #{id} and message.is_show_receiver=0
            <include refid="msgSelectCondition"></include>
    </select>

    <select id="getSendMessageById" resultMap="messageResultMap">
        <include refid="basicSendMsgStatement"></include>
        WHERE message.sender = #{id} and message.is_show_sender=0
            <include refid="msgSelectCondition"></include>
    </select>

    <select id="getReceiveMsgAllDetail" resultMap="messageResultMap">
        <include refid="basicReceiveMsgStatement"></include>
        where message.id = #{id}
    </select>

    <select id="getSendMsgAllDetail" resultMap="messageResultMap">
        <include refid="basicSendMsgStatement"></include>
        where message.id = #{id}
    </select>

    <sql id="basicSendMsgStatement">
        SELECT
            <include refid="combinationMsgAndUser"></include>
        FROM message
        LEFT JOIN user ON user.id=message.receiver
            <include refid="cn.edu.bistu.auth.mapper.UserMapper.Common.userJoin"></include>
    </sql>

    <sql id="basicReceiveMsgStatement">
        select
            <include refid="combinationMsgAndUser"></include>
        from message
        LEFT JOIN user ON user.id=message.sender
            <include refid="cn.edu.bistu.auth.mapper.UserMapper.Common.userJoin"></include>
    </sql>

    <sql id="msgBasicFiled">
        message.id,
        message.status,
        message.type,
        message.receiver,
        message.sender,
        message.title,
        message.description,
        message.create_time,
        message.attachment_name
    </sql>

    <sql id="combinationMsgAndUser" >
        <include refid="msgBasicFiled"></include>,
        <include refid="cn.edu.bistu.auth.mapper.UserMapper.Common.combinationUserColumns"></include>
    </sql>


    <sql id="msgSelectCondition">
        <where>
            <if test=" title != null and title != '' ">
                and message.title like "%" #{title} "%"
            </if>
        </where>
        ORDER BY message.create_time DESC
    </sql>

    

</mapper>