<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bistu.message.mapper.Messagemapper">

    <resultMap id="messageResultMap" type="cn.edu.bistu.model.vo.MessageVo">
        <id property="id" column="id"></id>

        <result property="status" column="status"></result>
        <result property="type" column="type"></result>
        <result property="title" column="title"></result>
        <result property="sender" column="sender"></result>
        <result property="receiver" column="receiver"></result>
        <result property="description" column="description"></result>
        <result property="createTime" column="create_time"></result>
        <result property="attachment" column="attachment"></result>
        <result property="attachmentName" column="attachment_name"></result>
        <result property="isShowSender" column="is_show_sender"></result>
        <result property="isShowReceiver" column="is_show_receiver"></result>
        <result property="attachmentDownloadId" column="attachment_download_id"></result>

        <association property="initiator" resultMap="cn.edu.bistu.auth.mapper.UserMapper.Common.userResultMap"/>
    </resultMap>
    
    <select id="getReceiveMessages" resultMap="messageResultMap">
        select
        <include refid="combinationMsgAndUser"></include>
        FROM message
        <include refid="receiveMsgJoin"></include>
        WHERE message.receiver = #{message.id} and message.is_show_receiver=#{message.isShowReceiver}<!--将用户id封装到了message中-->
        <include refid="msgSelectCondition"></include>
        <include refid="cn.edu.bistu.mapper.Common.page"/>
    </select>

    <select id="getSendMessages" resultMap="messageResultMap">
        select
        <include refid="combinationMsgAndUser"></include>
        FROM message
        <include refid="sendMsgJoin"></include>
        WHERE message.sender = #{message.id} and message.is_show_sender=0<!--将用户id封装到了message中-->
        <include refid="msgSelectCondition"></include>
        <include refid="cn.edu.bistu.mapper.Common.page"/>
    </select>

    <select id="getMessageById" resultMap="messageResultMap">
        select
        <include refid="msgBasicFiled"></include>
        from message
        where message.id=#{id}
    </select>

    <select id="getReceiveMsgCount" resultType="java.lang.Long">
        SELECT count(message.id)
        from message
        WHERE message.receiver = #{message.id} and message.is_show_receiver=#{message.isShowReceiver}
        <include refid="msgSelectCondition"></include>
    </select>

    <select id="getSendMsgCount" resultType="java.lang.Long">
        SELECT count(message.id)
        from message
        WHERE message.sender = #{message.id} and message.is_show_sender=0
        <include refid="msgSelectCondition"></include>
    </select>

    <sql id="sendMsgJoin">
        LEFT JOIN user ON user.id=message.receiver
        <include refid="cn.edu.bistu.auth.mapper.UserMapper.Common.userJoin"></include>
    </sql>

    <sql id="receiveMsgJoin">
        LEFT JOIN user ON user.id=message.sender
        <include refid="cn.edu.bistu.auth.mapper.UserMapper.Common.userJoin"></include>
    </sql>

    <sql id="msgBasicFiled">
        message.id,
        message.status,
        message.type,
        message.receiver,
        message.sender,
        message.title,
        message.description,
        message.create_time,
        message.attachment_name,
        message.is_show_sender,
        message.is_show_receiver,
        message.attachment_download_id
    </sql>

    <sql id="combinationMsgAndUser" >
        <include refid="msgBasicFiled"></include>,
        <include refid="cn.edu.bistu.auth.mapper.UserMapper.Common.combinationUserColumns"></include>
    </sql>


    <sql id="msgSelectCondition">
        <if test=" message.title != null and message.title != '' ">
            and message.title like "%" #{message.title} "%"
        </if>
        ORDER BY message.create_time DESC
    </sql>

    

</mapper>