<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bistu.auth.mapper.UserMapper">

    <select id="getUserRoleListByUserId" resultMap="cn.edu.bistu.auth.mapper.UserMapper.Common.roleResultMap">
        select
            role.name role_name,
            role.id role_id,
            role.text role_text
        from user
            join user_role on user.id = user_role.user_id
            join role on user_role.role_id=role.id
        where user.id=#{user_id};
    </select>

    <select id="getOneUserById" resultMap="cn.edu.bistu.auth.mapper.UserMapper.Common.userResultMap">
        <include refid="cn.edu.bistu.auth.mapper.UserMapper.Common.basicUserSelectStatementFragment"/>
        where user.id = #{id}
        ;
    </select>

    <select id="getOneUserByOpenId" resultMap="cn.edu.bistu.auth.mapper.UserMapper.Common.userResultMap">
        <include refid="cn.edu.bistu.auth.mapper.UserMapper.Common.basicUserSelectStatementFragment"/>
        where user.open_id = #{openId}
        ;
    </select>

    <select id="getOneUserByUnionId" resultMap="cn.edu.bistu.auth.mapper.UserMapper.Common.userResultMap">
        <include refid="cn.edu.bistu.auth.mapper.UserMapper.Common.basicUserSelectStatementFragment"/>
        where user.union_id = #{unionId}
        ;
    </select>

    <select id="getOneUserByStudentJobId" resultMap="cn.edu.bistu.auth.mapper.UserMapper.Common.userResultMap">
        <include refid="cn.edu.bistu.auth.mapper.UserMapper.Common.basicUserSelectStatementFragment"/>
        where user.student_job_id like "%" #{studentJobId} "%"
        ;
    </select>

    <select id="getUserListByConditions" resultMap="cn.edu.bistu.auth.mapper.UserMapper.Common.userResultMap">
        <include refid="cn.edu.bistu.auth.mapper.UserMapper.Common.basicUserSelectStatementFragment"/>
        <include refid="cn.edu.bistu.auth.mapper.UserMapper.Common.userConditions"/>
        <include refid="cn.edu.bistu.mapper.Common.page"/>
        ;
    </select>

    <select id="getUserCountByConditions" resultType="long">
        select count(distinct user.id)
        from user
        <include refid="cn.edu.bistu.auth.mapper.UserMapper.Common.userJoin"/>
        <include refid="cn.edu.bistu.auth.mapper.UserMapper.Common.userConditions"/>
    </select>

</mapper>