<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bistu.workOrder.mapper.WorkOrderMapper">

    <delete id="deleteWorkOrderByWorkOrderId" >
        delete from work_order where id=#{workOrderId}
    </delete>

    <select id="getWorkOrderPageByConditions" resultMap="cn.edu.bistu.workOrder.mapper.WorkOrderMapper.Common.workOrderResultMap">
        <include refid="cn.edu.bistu.workOrder.mapper.WorkOrderMapper.Common.basicWorkOrderSelectStatementFragment"/>
        <include refid="cn.edu.bistu.workOrder.mapper.WorkOrderMapper.Common.workOrderConditions"/>
        <include refid="cn.edu.bistu.mapper.Common.page"/>
        ;
    </select>

    <select id="getWorkOrderCountByConditions" resultType="long">
        select count(distinct work_order.id)
        from work_order
        <include refid="cn.edu.bistu.workOrder.mapper.WorkOrderMapper.Common.workOrderJoin"/>
        <include refid="cn.edu.bistu.workOrder.mapper.WorkOrderMapper.Common.workOrderConditions"/>
        ;
    </select>

    <select id="getOneWorkOrderById" resultMap="cn.edu.bistu.workOrder.mapper.WorkOrderMapper.Common.workOrderResultMap">
        <include refid="cn.edu.bistu.workOrder.mapper.WorkOrderMapper.Common.basicWorkOrderSelectStatementFragment"/>
        where work_order.id = #{id}
        ;
    </select>

    <select id="getApprovalWorkOrderPageByApproverId" resultMap="cn.edu.bistu.workOrder.mapper.WorkOrderMapper.Common.workOrderResultMap">
        <include refid="cn.edu.bistu.workOrder.mapper.WorkOrderMapper.Common.basicWorkOrderSelectStatementFragment"/>
        <include refid="cn.edu.bistu.workOrder.mapper.WorkOrderMapper.Common.workOrderConditions"/>
        <include refid="cn.edu.bistu.mapper.Common.page"/>
    </select>

    <select id="getApprovalWorkOrderCountByApproverId" resultType="long">
        select count(distinct work_order.id)
        from work_order
        <include refid="cn.edu.bistu.workOrder.mapper.WorkOrderMapper.Common.workOrderJoin"/>
        <include refid="cn.edu.bistu.workOrder.mapper.WorkOrderMapper.Common.workOrderConditions"/>
    </select>

</mapper>